name: Clash Royale War Report

on:
  workflow_dispatch: # for manual execution
  # schedule:
    # - cron: '0 11 * * 1' # Runs at 11:00 UTC on Monday

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10' # Specify a python version

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run analysis script
      env:
        CLASH_API_TOKEN: ${{ secrets.CLASH_API_TOKEN }}
        DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
      run: python analyze_war.py
